/* You can add global styles to this file, and also import other style files */
a {
    // color: #4527A0;
}
.purpur {
    background: #4527A0;
}
.green {
    background: #64FFDA;
}
ul {
    li {
        margin-bottom: 8px;
    }
}